
*{
    margin: 0;
    padding: 0;
    border: 0;
}

h1{
    font-weight: 360;
    margin-top: 4vh;
    padding-left: 6vw;
    /* color: coral; */
}
.login_panel{
    width: 80%;
    height: 80vh;
    /* background: red; */
    margin: 0 auto;
    margin-top: 4vh;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    background-image: url('../image/admin.png');
    background-attachment: fixed;
    background-size: 110% 130%;
}

.circle_bombing{
    width: 400px;
    height: 400px;
    /* background: blue; */
    position: relative;
    top: -80px;
    left: -70px;
}
.circle_bombing > li {
    list-style-type: none;
    position: absolute;
    width: 400px;
    height: 400px;
    background: rgba(14, 235, 25, 0.945);
    border-radius: 50%;
}




@keyframes admin_anim{
	0%{opacity: 0;transform: scale(0);}
    45%{opacity: 1; transform: scale(0.05);}
    75%{opacity: 0.8; transform: scale(0.5);}
	100%{opacity: 0.1;transform: scale(2);}
}

.login_panel > .circle_bombing > li:nth-child(1){
	animation: admin_anim 8s linear infinite 0s;
}
.login_panel > .circle_bombing > li:nth-child(2){
	animation: admin_anim 4s linear infinite 0.6s;
}
.login_panel > .circle_bombing > li:nth-child(3){
	animation: admin_anim 3s linear infinite 1.1s;
}
.login_panel > .circle_bombing > li:nth-child(4){
	animation: admin_anim 2s linear infinite 1.6s;
}
